openapi: 3.0.0
info:
  title: 'Secuconnect API'
  version: 2.0.0
servers:
  -
    url: 'https://connect-testing.secupay-ag.de/api/v2'
paths:
  '/Document/Uploads?multipart':
    post:
      tags:
        - documentUploads
      summary: 'POST Document/Uploads'
      description: 'Store uploaded file'
      operationId: Document/Uploads/documentUploadsMultipartPost
      parameters:
        -
          name: multipart
          in: query
          schema:
            type: string
      requestBody:
        description: 'Input data format'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fileToUpload'
      responses:
        '200':
          description: 'Document uploaded'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Document/Uploads:
    post:
      tags:
        - documentUploads
      summary: 'POST Document/Uploads'
      description: 'Store uploaded file'
      operationId: Document/Uploads/documentUploadsPost
      requestBody:
        description: Content
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUploadsDTOContent'
      responses:
        '200':
          description: 'Document uploaded'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadsBaseProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /General/Contracts:
    get:
      tags:
        - generalContracts
      summary: 'GET General/Contracts'
      description: 'Get a list of general contracts'
      operationId: General/Contracts/getAll
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of general contracts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralContractsList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/General/Contracts/{generalContractId}':
    get:
      tags:
        - generalContracts
      summary: 'GET General/Contracts/{generalContractId}'
      description: 'Get one general contract for a specific id'
      operationId: General/Contracts/getOne
      parameters:
        -
          name: generalContractId
          in: path
          description: 'General contract id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns general contract for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralContractsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/General/Contracts/{generalContractId}/getAvailablePaymentMethods':
    post:
      tags:
        - generalContracts
      summary: 'POST General/Contracts/{generalContractId}/getAvailablePaymentMethods'
      description: 'Get available payment methods for given contract'
      operationId: General/Contracts/getAvailablePaymentMethods
      parameters:
        -
          name: generalContractId
          in: path
          description: 'Contract identifier'
          required: true
          schema:
            type: string
      requestBody:
        description: options
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAvailablePaymentMethodsDTO'
      responses:
        '200':
          description: 'General methods possible for given contract'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /General/Merchants:
    get:
      tags:
        - generalMerchants
      summary: 'GET General/Merchants'
      description: 'Get a list of general merchants'
      operationId: General/Merchants/getAll
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of general merchants'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMerchantsList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/General/Merchants/{generalMerchantId}':
    get:
      tags:
        - generalMerchants
      summary: 'GET General/Merchants/{generalMerchantId}'
      description: 'Get one general merchant for a specific id'
      operationId: General/Merchants/getOne
      parameters:
        -
          name: generalMerchantId
          in: path
          description: 'General merchant id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns general merchant for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMerchantsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /General/Stores:
    get:
      tags:
        - generalStores
      summary: 'GET General/Stores'
      description: 'Get a list of general stores'
      operationId: General/Stores/getAll
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of general stores'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralStoresList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    post:
      tags:
        - generalStores
      summary: 'POST General/Stores'
      description: 'Create general store'
      operationId: General/Stores/addStore
      requestBody:
        description: 'General store properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneralStoresDTO'
      responses:
        '200':
          description: 'General store'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralStoresProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/General/Stores/{generalStoreId}':
    get:
      tags:
        - generalStores
      summary: 'GET General/Stores/{generalStoreId}'
      description: 'Get one general store for a specific id'
      operationId: General/Stores/getOne
      parameters:
        -
          name: generalStoreId
          in: path
          description: 'General store id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns general store for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralStoresProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    put:
      tags:
        - generalStores
      summary: 'PUT General/Stores/{generalStoreId}'
      description: 'Update general store'
      operationId: General/Stores/updateStore
      parameters:
        -
          name: generalStoreId
          in: path
          description: 'General store id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'General store properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneralStoresDTO'
      responses:
        '200':
          description: 'Updated general store'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralStoresProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/General/Stores/{generalStoreId}/checkin':
    post:
      tags:
        - generalStores
      summary: 'POST General/Stores/{generalStoreId}/checkin'
      description: 'Check in'
      operationId: General/Stores/checkIn
      parameters:
        -
          name: generalStoreId
          in: path
          description: 'General store id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'General store properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneralStoresDTOType'
      responses:
        '200':
          description: 'Returned value is true or false'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/General/Stores/{generalStoreId}/assign/{googleKey}':
    post:
      tags:
        - generalStores
      summary: 'POST General/Stores/{generalStoreId}/assign/{googleKey}'
      description: 'Assign some object to general store'
      operationId: General/Stores/assignGoogleKey
      parameters:
        -
          name: generalStoreId
          in: path
          description: 'General store id'
          required: true
          schema:
            type: string
        -
          name: googleKey
          in: path
          description: 'Google key'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'If a general store hasn''t assigned earlier, the returned value is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/General/Stores/{generalStoreId}/setDefault':
    post:
      tags:
        - generalStores
      summary: 'POST General/Stores/{generalStoreId}/setDefault'
      description: 'Set default flag on general store'
      operationId: General/Stores/setDefault
      parameters:
        -
          name: generalStoreId
          in: path
          description: 'General store id'
          required: true
          schema:
            type: string
      requestBody:
        description: Reason
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneralStoresDTOReason'
      responses:
        '200':
          description: 'In the most cases returned value is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Loyalty/Cardgroups:
    get:
      tags:
        - loyaltyCardgroups
      summary: 'GET Loyalty/Cardgroups'
      description: 'Get a list of loyalty card groups'
      operationId: Loyalty/Cardgroups/getAll
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of loyalty card groups'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCardgroupsList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    post:
      tags:
        - loyaltyCardgroups
      summary: 'POST Loyalty/Cardgroups'
      description: 'Add loyalty card group'
      operationId: Loyalty/Cardgroups/addCardGroup
      requestBody:
        description: 'Loyalty card group properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyCardgroupsDTO'
      responses:
        '200':
          description: 'Added loyalty card group'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCardgroupsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/Cardgroups/{loyaltyCardGroupId}':
    get:
      tags:
        - loyaltyCardgroups
      summary: 'GET Loyalty/Cardgroups/{loyaltyCardGroupId}'
      description: 'Get loyalty card group for a specific id'
      operationId: Loyalty/Cardgroups/getOne
      parameters:
        -
          name: loyaltyCardGroupId
          in: path
          description: 'Search one by provided id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns loyalty card group for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCardgroupsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    put:
      tags:
        - loyaltyCardgroups
      summary: 'PUT Loyalty/Cardgroups/{loyaltyCardGroupId}'
      description: 'Update loyalty card group'
      operationId: Loyalty/Cardgroups/updateCardGroup
      parameters:
        -
          name: loyaltyCardGroupId
          in: path
          description: 'Loyalty card group id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Loyalty card group properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyCardgroupsDTO'
      responses:
        '200':
          description: 'Updated loyalty card group'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCardgroupsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/Cardgroups/{loyaltyCardGroupId}/checkPasscodeEnabled':
    post:
      tags:
        - loyaltyCardgroups
      summary: 'POST Loyalty/Cardgroups/{loyaltyCardGroupId}/checkPasscodeEnabled'
      description: 'Check whether passcode check is enabled'
      operationId: Loyalty/Cardgroups/checkPassCodeEnabled
      parameters:
        -
          name: loyaltyCardGroupId
          in: path
          description: 'Loyalty card group id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Check passcode details'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyCardgroupsDTOCheckPasscodeEnabled'
      responses:
        '200':
          description: 'Checked successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Loyalty/Cards:
    get:
      tags:
        - loyaltyCards
      summary: 'GET Loyalty/Cards'
      description: 'Get a list of loyalty cards'
      operationId: Loyalty/Cards/getAll
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of loyalty cards'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCardsList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/Cards/{loyaltyCardId}':
    get:
      tags:
        - loyaltyCards
      summary: 'GET Loyalty/Cards/{loyaltyCardId}'
      description: 'Get loyalty card for a specific id'
      operationId: Loyalty/Cards/getOne
      parameters:
        -
          name: loyaltyCardId
          in: path
          description: 'Search one loyalty card by provided id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns loyalty card for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/Cards/{loyaltyCardId}/assignUser/{generalAccountId}':
    post:
      tags:
        - loyaltyCards
      summary: 'POST Loyalty/Cards/{loyaltyCardId}/assignUser/{generalAccountId}'
      description: 'Assign loyalty card to specific user account'
      operationId: Loyalty/Cards/assignUser
      parameters:
        -
          name: loyaltyCardId
          in: path
          description: 'Loyalty card id'
          required: true
          schema:
            type: string
        -
          name: generalAccountId
          in: path
          description: 'General account id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Loyalty card pin for the specific card'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardPin'
      responses:
        '200':
          description: 'Returns true if loyalty card was assigned to user successful, false in other case'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    delete:
      tags:
        - loyaltyCards
      summary: 'DELETE Loyalty/Cards/{loyaltyCardId}/assignUser/{generalAccountId}'
      description: 'Remove assigned loyalty card from specific user account'
      operationId: Loyalty/Cards/removeAssignedUser
      parameters:
        -
          name: loyaltyCardId
          in: path
          description: 'Loyalty card id'
          required: true
          schema:
            type: string
        -
          name: generalAccountId
          in: path
          description: 'General account id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns true if loyalty card assign was removed from user successful, false in other case'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Loyalty/Customers:
    get:
      tags:
        - loyaltyCustomers
      summary: 'GET Loyalty/Customers'
      description: 'Get a list of loyalty customers'
      operationId: Loyalty/Customers/getAll
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of loyalty customers'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCustomersList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    post:
      tags:
        - loyaltyCustomers
      summary: 'POST Loyalty/Customers'
      description: 'Add loyalty customer'
      operationId: Loyalty/Customers/addCustomer
      requestBody:
        description: 'loyalty Customer container properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyCustomersDTO'
      responses:
        '200':
          description: 'Newly created loyalty Customer'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCustomersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/Customers/{loyaltyCustomerId}':
    get:
      tags:
        - loyaltyCustomers
      summary: 'GET Loyalty/Customers/{loyaltyCustomerId}'
      description: 'Get loyalty customer for a specific id'
      operationId: Loyalty/Customers/getOne
      parameters:
        -
          name: loyaltyCustomerId
          in: path
          description: 'Search one loyalty customer by provided id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns loyalty customer for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCustomersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    put:
      tags:
        - loyaltyCustomers
      summary: 'PUT Loyalty/Customers/{loyaltyCustomerId}'
      description: 'Function to update customer''s data'
      operationId: Loyalty/Customers/updateCustomer
      parameters:
        -
          name: loyaltyCustomerId
          in: path
          description: 'loyalty Customer Id CUS_XXX'
          required: true
          schema:
            type: string
      requestBody:
        description: 'loyalty Customer container properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyCustomersDTO'
      responses:
        '200':
          description: 'Newly created loyalty Customer'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCustomersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    delete:
      tags:
        - loyaltyCustomers
      summary: 'DELETE Loyalty/Customers/{loyaltyCustomerId}'
      description: 'Remove assigned loyalty customer'
      operationId: Loyalty/Customers/removeCustomer
      parameters:
        -
          name: loyaltyCustomerId
          in: path
          description: 'Loyalty customer id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns true if loyalty customer was removed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCustomersRemoved'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/Customers/{loyaltyCustomerId}/assignPaymentContainer/{loyaltyPaymentContainerId}':
    post:
      tags:
        - loyaltyCustomers
      summary: 'POST Loyalty/Customers/{loyaltyCustomerId}/assignPaymentContainer/{loyaltyPaymentContainerId}'
      description: 'Assigns LoyaltyPaymentContainer to customer'
      operationId: Loyalty/Customers/assignPaymentContainer
      parameters:
        -
          name: loyaltyCustomerId
          in: path
          description: 'Loyalty customer id'
          required: true
          schema:
            type: string
        -
          name: loyaltyPaymentContainerId
          in: path
          description: 'LoyaltyPaymentContainer id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'loyalty Customers data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCustomersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    delete:
      tags:
        - loyaltyCustomers
      summary: 'DELETE Loyalty/Customers/{loyaltyCustomerId}/assignPaymentContainer/{loyaltyPaymentContainerId}'
      description: 'Removes an assigned LoyaltyPaymentContainer from customer'
      operationId: Loyalty/Customers/removeAssignedPaymentContainer
      parameters:
        -
          name: loyaltyCustomerId
          in: path
          description: 'Loyalty customer id'
          required: true
          schema:
            type: string
        -
          name: loyaltyPaymentContainerId
          in: path
          description: 'LoyaltyPaymentContainer id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'loyalty Customers data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyCustomersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/Customers/{loyaltyCustomerId}/checkDuplicated/':
    post:
      tags:
        - loyaltyCustomers
      summary: 'POST Loyalty/Customers/{loyaltyCustomerId}/checkDuplicated/'
      description: 'check if there are duplicated customers for a given merchant'
      operationId: Loyalty/Customers/checkForDuplicates
      parameters:
        -
          name: loyaltyCustomerId
          in: path
          description: 'Loyalty customer id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns duplicated customers and customers without merchantcard'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customers_without_merchantcard_and_duplicated_customers'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Loyalty/MerchantCards:
    get:
      tags:
        - loyaltyMerchantcards
      summary: 'GET Loyalty/MerchantCards'
      description: 'Get a list of loyalty merchant cards'
      operationId: Loyalty/MerchantCards/getAll
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of loyalty merchant cards'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards'
      description: 'Add new loyalty merchant card'
      operationId: Loyalty/MerchantCards/addMerchantCard
      requestBody:
        description: 'Loyalty merchant card properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTO'
      responses:
        '200':
          description: 'Newly created loyalty merchant card'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}':
    get:
      tags:
        - loyaltyMerchantcards
      summary: 'GET Loyalty/MerchantCards/{loyaltyMerchantCardId}'
      description: 'Get loyalty merchant card for a specific id'
      operationId: Loyalty/MerchantCards/getOne
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Search one by provided id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns loyalty merchant card for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    put:
      tags:
        - loyaltyMerchantcards
      summary: 'PUT Loyalty/MerchantCards/{loyaltyMerchantCardId}'
      description: 'Update loyalty merchant card'
      operationId: Loyalty/MerchantCards/updateMerchantCard
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Loyalty merchant card properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTO'
      responses:
        '200':
          description: 'Updated loyalty merchant card'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    delete:
      tags:
        - loyaltyMerchantcards
      summary: 'DELETE Loyalty/MerchantCards/{loyaltyMerchantCardId}'
      description: 'Delete loyalty merchant card'
      operationId: Loyalty/MerchantCards/removeMerchantCard
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Deleted loyalty merchant card'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/cardgroup/{loyaltyCardGroupId}':
    put:
      tags:
        - loyaltyMerchantcards
      summary: 'PUT Loyalty/MerchantCards/{loyaltyMerchantCardId}/cardgroup/{loyaltyCardGroupId}'
      description: 'Update loyalty card group'
      operationId: Loyalty/MerchantCards/updateCardGroupOfMerchantCard
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
        -
          name: loyaltyCardGroupId
          in: path
          description: 'Loyalty card group id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Updated loyalty merchant card'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/registerCustomer':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/registerCustomer'
      description: 'Register new customer for a card'
      operationId: Loyalty/MerchantCards/registerCustomer
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Loyalty customer properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyCustomersDTO'
      responses:
        '200':
          description: 'Loyalty merchant card'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/setCustomer/{loyaltyCustomerId}':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/setCustomer/{loyaltyCustomerId}'
      description: 'Set loyalty customer for a loyalty merchant card'
      operationId: Loyalty/MerchantCards/setCustomer
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
        -
          name: loyaltyCustomerId
          in: path
          description: 'Loyalty customer id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Updated loyalty merchant card'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/lock':
    get:
      tags:
        - loyaltyMerchantcards
      summary: 'GET Loyalty/MerchantCards/{loyaltyMerchantCardId}/lock'
      description: 'Get loyalty merchant card lock information for a specific id'
      operationId: Loyalty/MerchantCards/getLock
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns lock details for a specific merchant card id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsDTOLock'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/lock'
      description: 'Lock merchant card'
      operationId: Loyalty/MerchantCards/lock
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Information about lock'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTOLock'
      responses:
        '200':
          description: 'Loyalty merchant card after lock'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/unlock':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/unlock'
      description: 'Unlock merchant card'
      operationId: Loyalty/MerchantCards/unlock
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Information about unlock'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTOLock'
      responses:
        '200':
          description: 'Loyalty merchant card after unlock'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/virtualTerminalData/{loyaltyMerchantId}':
    get:
      tags:
        - loyaltyMerchantcards
      summary: 'GET Loyalty/MerchantCards/{loyaltyMerchantCardId}/virtualTerminalData/{loyaltyMerchantId}'
      description: 'Get virtual terminal data for merchant'
      operationId: Loyalty/MerchantCards/getVirtualTerminalData
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Merchant card id'
          required: true
          schema:
            type: string
        -
          name: loyaltyMerchantId
          in: path
          description: 'Merchant id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns virtual terminal data for merchant'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualTerminalDataModel'
        '201':
          description: 'Returns disabled'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/transaction':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/transaction'
      description: 'Execute transaction from SDK'
      operationId: Loyalty/MerchantCards/executeTransaction
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Transaction properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTOTransaction'
      responses:
        '200':
          description: 'Loyalty merchant card'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsProductWithReceiptModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkCsc':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkCsc'
      description: 'Check CSC'
      operationId: Loyalty/MerchantCards/checkCsc
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Information about card'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTOCsc'
      responses:
        '200':
          description: 'If CSC is correct returned value is true, false in other case'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/validateMerchantcard':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/validateMerchantcard'
      description: 'Function to check the merchant card'
      operationId: Loyalty/MerchantCards/validateMerchantCard
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Information about card'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTOValidateMerchantCard'
      responses:
        '200':
          description: 'returns informations about Merchantcard'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsValidateMerchantCard'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/newPasscode':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/newPasscode'
      description: 'Function to save new given passcode for given merchantcard identified by cardnumber'
      operationId: Loyalty/MerchantCards/newPassCode
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Information about card'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTONewPasscode'
      responses:
        '200':
          description: 'If new passcode was saved'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/resetPasscode':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/resetPasscode'
      description: 'Function to reset a passcode for given merchantcard'
      operationId: Loyalty/MerchantCards/resetPassCode
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Information about card'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTOResetPasscode'
      responses:
        '200':
          description: 'If passcode was reseted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkPasscode':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkPasscode'
      description: 'Function to check the Passcode card with cardnumber'
      operationId: Loyalty/MerchantCards/checkPassCode
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Information about card'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTOCheckPasscode'
      responses:
        '200':
          description: 'If passcode was reseted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultBoolean'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{generalMerchantId}/createMerchantcards/{loyaltyCardgroupId}':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{generalMerchantId}/createMerchantcards/{loyaltyCardgroupId}'
      description: 'Function to create multiple merchantcards for given merchant with given cardgroup'
      operationId: Loyalty/MerchantCards/createMerchantcards
      parameters:
        -
          name: generalMerchantId
          in: path
          description: 'General merchant id'
          required: true
          schema:
            type: string
        -
          name: loyaltyCardgroupId
          in: path
          description: 'Loyalty card group id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Cards amount'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTOCardsAmount'
      responses:
        '200':
          description: 'Loyalty merchant card'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoyaltyMerchantcardsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/MerchantCards/{loyaltyMerchantCardId}/getCardBalanceReceipt':
    post:
      tags:
        - loyaltyMerchantcards
      summary: 'POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/getCardBalanceReceipt'
      description: 'Get card balance receipt and information about limit data and passcode protection'
      operationId: Loyalty/MerchantCards/CardBalanceReceipt
      parameters:
        -
          name: loyaltyMerchantCardId
          in: path
          description: 'Loyalty merchant card id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Information about card & current terminal'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMerchantcardsDTOCardBalanceReceipt'
      responses:
        '200':
          description: 'The receipt and additional information about the card'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMerchantcardsCardBalanceReceipt'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/Sales/{generalMerchantId}/CardGroupsByMerchantID':
    get:
      tags:
        - loyaltySales
      summary: 'GET Loyalty/Sales/{generalMerchantId}/CardGroupsByMerchantID'
      description: 'Get cardgroups by merchant id'
      operationId: Loyalty/Sales/getCardgroupsByMerchantId
      parameters:
        -
          name: generalMerchantId
          in: path
          description: 'Search by provided id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns an array of cardgroups for a specific id'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoyaltyCardgroupsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Loyalty/Transactions:
    get:
      tags:
        - loyaltyTransactions
      summary: 'GET Loyalty/Transactions'
      description: 'Get a list of loyalty transactions'
      operationId: Loyalty/Transactions/getAll
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of loyalty card groups'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyTransactionsList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Loyalty/Transactions/{loyaltyTransactionId}':
    get:
      tags:
        - loyaltyTransactions
      summary: 'GET Loyalty/Transactions/{loyaltyTransactionId}'
      description: 'Get loyalty transaction for a specific id'
      operationId: Loyalty/Transactions/getOne
      parameters:
        -
          name: loyaltyTransactionId
          in: path
          description: 'Search one by provided id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns loyalty card group for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyTransactionsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Containers:
    get:
      tags:
        - paymentContainers
      summary: 'GET Payment/Containers'
      description: 'Get a list of payment containers'
      operationId: Payment/Containers/paymentContainersGet
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of payment containers'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContainersList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    post:
      tags:
        - paymentContainers
      summary: 'POST Payment/Containers'
      description: 'Add new containers'
      operationId: Payment/Containers/paymentContainersPost
      requestBody:
        description: 'Payment container properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentContainersDTO'
      responses:
        '200':
          description: 'Newly created payment container'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContainersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Containers/{paymentContainerId}':
    get:
      tags:
        - paymentContainers
      summary: 'GET Payment/Containers/{paymentContainerId}'
      description: 'Get all payment containers'
      operationId: Payment/Containers/paymentContainersGetById
      parameters:
        -
          name: paymentContainerId
          in: path
          description: 'Search one by provided id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns payment container for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContainersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    put:
      tags:
        - paymentContainers
      summary: 'PUT Payment/Containers/{paymentContainerId}'
      description: 'Update payment container'
      operationId: Payment/Containers/paymentContainersIdPut
      parameters:
        -
          name: paymentContainerId
          in: path
          description: 'Payment container id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Payment container properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentContainersDTO'
      responses:
        '200':
          description: 'Updated payment container'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContainersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    delete:
      tags:
        - paymentContainers
      summary: 'DELETE Payment/Containers/{paymentContainerId}'
      description: 'Delete payment container'
      operationId: Payment/Containers/paymentContainersIdDelete
      parameters:
        -
          name: paymentContainerId
          in: path
          description: 'Payment container id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Deleted payment container'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentContainersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Containers/{paymentContainerId}/assign/{secondaryPaymentContainerId}':
    post:
      tags:
        - paymentContainers
      summary: 'POST Payment/Containers/{paymentContainerId}/assign/{secondaryPaymentContainerId}'
      description: 'Assign an existing payment container to ...'
      operationId: Payment/Containers/paymentContainersIdAssignSecondaryIdPost
      parameters:
        -
          name: paymentContainerId
          in: path
          description: 'Payment container id'
          required: true
          schema:
            type: string
        -
          name: secondaryPaymentContainerId
          in: path
          description: 'Id to which container will be assigned'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Affected container'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContainersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    delete:
      tags:
        - paymentContainers
      summary: 'DELETE Payment/Containers/{paymentContainerId}/assign/{secondaryPaymentContainerId}'
      description: 'Removes an existing payment container assignment'
      operationId: Payment/Containers/paymentContainersIdAssignSecondaryIdDelete
      parameters:
        -
          name: paymentContainerId
          in: path
          description: 'Payment container id'
          required: true
          schema:
            type: string
        -
          name: secondaryPaymentContainerId
          in: path
          description: 'Id for which container is currently assigned to'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Affected container'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentContainersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Contracts:
    get:
      tags:
        - paymentContracts
      summary: 'GET Payment/Contracts'
      description: 'Get a list of payment contracts'
      operationId: Payment/Contracts/paymentContractsGet
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of payment contracts'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContractsList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    post:
      tags:
        - paymentContracts
      summary: 'POST Payment/Contracts'
      description: 'Add new contract'
      operationId: Payment/Contracts/paymentContractsPost
      requestBody:
        description: 'Payment contracts properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentContractsDTO'
      responses:
        '200':
          description: 'Newly created payment contract'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContractsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Contracts/{paymentContractId}':
    get:
      tags:
        - paymentContracts
      summary: 'GET Payment/Contracts/{paymentContractId}'
      description: 'Get all payment contracts'
      operationId: Payment/Contracts/paymentContractsGetById
      parameters:
        -
          name: paymentContractId
          in: path
          description: 'Search one by provided id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns payment contract for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContractsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    put:
      tags:
        - paymentContracts
      summary: 'PUT Payment/Contracts/{paymentContractId}'
      description: 'Update payment contract'
      operationId: Payment/Contracts/paymentContractsIdPut
      parameters:
        -
          name: paymentContractId
          in: path
          description: 'Payment contract id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Payment contracts properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentContractsDTO'
      responses:
        '200':
          description: 'Updated payment contract'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContractsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    delete:
      tags:
        - paymentContracts
      summary: 'DELETE Payment/Contracts/{paymentContractId}'
      description: 'Delete payment contract'
      operationId: Payment/Contracts/paymentContractsIdDelete
      parameters:
        -
          name: paymentContractId
          in: path
          description: 'Payment contract id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Deleted payment contract'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentContractsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Contracts/{paymentContractId}/paymentMethods':
    get:
      tags:
        - paymentContracts
      summary: 'GET Payment/Contracts/{paymentContractId}/paymentMethods'
      description: 'Get available payment methods for given contract'
      operationId: Payment/Contracts/paymentContractsIdPaymentMethodsGet
      parameters:
        -
          name: paymentContractId
          in: path
          description: 'Contract identifier'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Payment methods possible for given contract'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Contracts/{paymentContractId}/clone':
    post:
      tags:
        - paymentContracts
      summary: 'POST Payment/Contracts/{paymentContractId}/clone'
      description: 'Clone an existing payment contract'
      operationId: Payment/Contracts/clone
      parameters:
        -
          name: paymentContractId
          in: path
          description: 'Contract identifier'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Payment contract clone properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentContractsDTOClone'
      responses:
        '200':
          description: 'Updated payment contract'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContractsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Contracts/{paymentContractId}/requestId':
    post:
      tags:
        - paymentContracts
      summary: 'POST Payment/Contracts/{paymentContractId}/requestId'
      description: 'This method clones your payment contract, so that you can use this to separate the merchants of your marketplace. (Needs to be activated))'
      operationId: Payment/Contracts/requestId
      parameters:
        -
          name: paymentContractId
          in: path
          description: 'Contract identifier of the parent'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Payment contract request id properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentContractsDTORequestId'
      responses:
        '200':
          description: 'Proper response after cloning your payment contract'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentContractsRequestIdResult'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Customers:
    get:
      tags:
        - paymentCustomers
      summary: 'GET Payment/Customers'
      description: 'Get a list of payment customers'
      operationId: Payment/Containers/paymentCustomersGet
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of payment customers'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomersList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    post:
      tags:
        - paymentCustomers
      summary: 'POST Payment/Customers'
      description: 'Add new customer'
      operationId: Payment/Containers/paymentCustomersPost
      requestBody:
        description: 'Payment customer properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCustomersDTO'
      responses:
        '200':
          description: 'Newly created payment customer'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Customers/{paymentCustomerId}':
    get:
      tags:
        - paymentCustomers
      summary: 'GET Payment/Customers/{paymentCustomerId}'
      description: 'Get all payment customers'
      operationId: Payment/Customers/paymentCustomersGetById
      parameters:
        -
          name: paymentCustomerId
          in: path
          description: 'Payment customer id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns payment customer for a specific id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    put:
      tags:
        - paymentCustomers
      summary: 'PUT Payment/Customers/{paymentCustomerId}'
      description: 'Update payment customer'
      operationId: Payment/Customers/paymentCustomersIdPut
      parameters:
        -
          name: paymentCustomerId
          in: path
          description: 'Payment customer id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Payment customer properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCustomersDTO'
      responses:
        '200':
          description: 'Updated payment customer'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    delete:
      tags:
        - paymentCustomers
      summary: 'DELETE Payment/Customers/{paymentCustomerId}'
      description: 'Delete payment customer'
      operationId: Payment/Customers/paymentCustomersIdDelete
      parameters:
        -
          name: paymentCustomerId
          in: path
          description: 'Payment customer id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Deleted payment customer'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentCustomersProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/{paymentMethod}/{paymentId}/assignExternalInvoicePdf/{documentId}':
    post:
      tags:
        - paymentSecupayCreditcards
        - paymentSecupayDebits
        - paymentSecupayInvoices
        - paymentSecupayPrepays
        - paymentSecupaySofort
      summary: 'POST Payment/{paymentMethod}/{paymentId}/assignExternalInvoicePdf/{documentId}'
      description: 'Assign external invoice pdf'
      operationId: assignExternalInvoicePdf
      parameters:
        -
          name: paymentMethod
          in: path
          description: 'Payment method (secupaydebits, secupayprepays, secupayinvoices, ...)'
          required: true
          schema:
            type: string
        -
          name: paymentId
          in: path
          description: 'Payment id'
          required: true
          schema:
            type: string
        -
          name: documentId
          in: path
          description: 'Document id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Request body for assigning external invoice pdf'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionDTOExternalInvoicePdf'
      responses:
        '200':
          description: 'Document details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionExternalInvoicePdf'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/{paymentMethod}/{paymentId}/cancel':
    post:
      tags:
        - paymentSecupayCreditcards
        - paymentSecupayDebits
        - paymentSecupayInvoices
        - paymentSecupayPrepays
        - paymentSecupaySofort
      summary: 'POST Payment/{paymentMethod}/{paymentId}/cancel'
      description: 'Function to cancel the payment transaction'
      operationId: cancelPaymentTransactionById
      parameters:
        -
          name: paymentMethod
          in: path
          description: 'Payment method (secupaydebits, secupayprepays, secupayinvoices, ...)'
          required: true
          schema:
            type: string
        -
          name: paymentId
          in: path
          description: 'Payment id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Cancel payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionCancelDTO'
      responses:
        '200':
          description: 'Canceled successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancelResult'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/{paymentMethod}/{paymentId}/capture':
    post:
      tags:
        - paymentSecupayCreditcards
        - paymentSecupayDebits
        - paymentSecupayInvoices
        - paymentSecupayPrepays
        - paymentSecupaySofort
      summary: 'POST Payment/{paymentMethod}/{paymentId}/capture'
      description: 'Function to cancel the payment transaction'
      operationId: capturePaymentTransactionById
      parameters:
        -
          name: paymentMethod
          in: path
          description: 'Payment method (secupaydebits, secupayprepays, secupayinvoices, ...)'
          required: true
          schema:
            type: string
        -
          name: paymentId
          in: path
          description: 'Payment id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Capture payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionCaptureDTO'
      responses:
        '200':
          description: 'Details of the payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/{paymentMethod}/{paymentId}/basket':
    put:
      tags:
        - paymentSecupayCreditcards
        - paymentSecupayDebits
        - paymentSecupayInvoices
        - paymentSecupayPrepays
        - paymentSecupaySofort
      summary: 'PUT Payment/{paymentMethod}/{paymentId}/basket'
      description: 'Update a basket of an existing payment transaction'
      operationId: updateBasketByPaymentId
      parameters:
        -
          name: paymentMethod
          in: path
          description: 'Payment method (secupaydebits, secupayprepays, secupayinvoices, ...)'
          required: true
          schema:
            type: string
        -
          name: paymentId
          in: path
          description: 'Payment id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Update basket input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionUpdateBasketDTO'
      responses:
        '200':
          description: 'Updated payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/{paymentMethod}/{paymentId}/accrual':
    put:
      tags:
        - paymentSecupayCreditcards
        - paymentSecupayDebits
        - paymentSecupayInvoices
        - paymentSecupayPrepays
        - paymentSecupaySofort
      summary: 'PUT Payment/{paymentMethod}/{paymentId}/accrual'
      description: 'Update the accrual flag of an existing payment transaction'
      operationId: reverseAccrualByPaymentId
      parameters:
        -
          name: paymentMethod
          in: path
          description: 'Payment method (secupaydebits, secupayprepays, secupayinvoices, ...)'
          required: true
          schema:
            type: string
        -
          name: paymentId
          in: path
          description: 'Payment id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Reverse accrual input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionReverseAccrualDTO'
      responses:
        '200':
          description: 'Updated payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/{paymentMethod}/{paymentId}/shippingInformation':
    put:
      tags:
        - paymentSecupayCreditcards
        - paymentSecupayDebits
        - paymentSecupayInvoices
        - paymentSecupayPrepays
        - paymentSecupaySofort
      summary: 'PUT Payment/{paymentMethod}/{paymentId}/shippingInformation'
      description: 'Update the accrual flag of an existing payment transaction'
      operationId: setShippingInformationByPaymentId
      parameters:
        -
          name: paymentMethod
          in: path
          description: 'Payment method (secupaydebits, secupayprepays, secupayinvoices, ...)'
          required: true
          schema:
            type: string
        -
          name: paymentId
          in: path
          description: 'Payment id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Shipping information propertie'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionSetShippingInformationDTO'
      responses:
        '200':
          description: 'Updated payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Secupaycreditcards/{paymentCreditCardsId}':
    get:
      tags:
        - paymentSecupayCreditcards
      summary: 'GET Payment/Secupaycreditcards/{paymentCreditCardsId}'
      description: 'Get the details of a payment transaction'
      operationId: Payment/Secupaycreditcards/paymentSecupayCreditcardsGetById
      parameters:
        -
          name: paymentCreditCardsId
          in: path
          description: 'Payment credit cards id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Details of the payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Secupaycreditcards:
    post:
      tags:
        - paymentSecupayCreditcards
      summary: 'POST Payment/Secupaycreditcards'
      description: 'Start a credit card payment transaction'
      operationId: Payment/Secupaycreditcards/paymentSecupaycreditcardsPost
      requestBody:
        description: 'Credit card payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionProductDTO'
      responses:
        '200':
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Secupaydebits/{paymentDebitId}':
    get:
      tags:
        - paymentSecupayDebits
      summary: 'GET Payment/Secupaydebits/{paymentDebitId}'
      description: 'Get the details of a payment transaction'
      operationId: Payment/Secupaydebits/paymentSecupayDebitsGetById
      parameters:
        -
          name: paymentDebitId
          in: path
          description: 'Payment debit id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Details of the payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Secupaydebits:
    post:
      tags:
        - paymentSecupayDebits
      summary: 'POST Payment/Secupaydebits'
      description: 'Start a debit payment transaction'
      operationId: Payment/Secupaydebits/paymentSecupaydebitsPost
      requestBody:
        description: 'Debit payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionProductDTO'
      responses:
        '200':
          description: 'Started debit payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Secupayinvoices/{paymentInvoiceId}':
    get:
      tags:
        - paymentSecupayInvoices
      summary: 'GET Payment/Secupayinvoices/{paymentInvoiceId}'
      description: 'Get the details of a payment transaction'
      operationId: Payment/Secupayinvoices/paymentSecupayInvoicesGetById
      parameters:
        -
          name: paymentInvoiceId
          in: path
          description: 'Payment transaction ID'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Details of the payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Secupayinvoices:
    post:
      tags:
        - paymentSecupayInvoices
      summary: 'POST Payment/Secupayinvoices'
      description: 'Start a invoice payment transaction'
      operationId: Payment/Secupayinvoices/paymentSecupayinvoicesPost
      requestBody:
        description: 'Invoice payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionProductDTO'
      responses:
        '200':
          description: 'Started invoice payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Secupaypayout/{paymentPayoutId}':
    get:
      tags:
        - paymentSecupayPayout
      summary: 'GET Payment/Secupaypayout/{paymentPayoutId}'
      description: 'Get the details of a payment transaction'
      operationId: Payment/Secupaypayout/getSecupaypayout
      parameters:
        -
          name: paymentPayoutId
          in: path
          description: 'Payment payout id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Details of the payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayPayoutProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Secupaypayout:
    post:
      tags:
        - paymentSecupayPayout
      summary: 'POST Payment/Secupaypayout'
      description: 'Start a payout transaction'
      operationId: Payment/Secupaypayout/paymentSecupaypayoutPost
      requestBody:
        description: 'Payout payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayPayoutDTO'
      responses:
        '200':
          description: 'Started prepay payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayPayoutProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Secupayprepays/{paymentPrepayId}':
    get:
      tags:
        - paymentSecupayPrepays
      summary: 'GET Payment/Secupayprepays/{paymentPrepayId}'
      description: 'Get the details of a payment transaction'
      operationId: Payment/Secupayprepays/paymentSecupayPrepaysGetById
      parameters:
        -
          name: paymentPrepayId
          in: path
          description: 'Payment prepay id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Details of the payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Secupayprepays:
    post:
      tags:
        - paymentSecupayPrepays
      summary: 'POST Payment/Secupayprepays'
      description: 'Start a prepay payment transaction'
      operationId: Payment/Secupayprepays/paymentSecupayprepaysPost
      requestBody:
        description: 'Prepay payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionProductDTO'
      responses:
        '200':
          description: 'Started prepay payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Secupaysofort/{paymentPrepayId}':
    get:
      tags:
        - paymentSecupaySofort
      summary: 'GET Payment/Secupaysofort/{paymentPrepayId}'
      description: 'Get the details of a payment transaction'
      operationId: Payment/Secupaysofort/paymentSecupaySofortGetById
      parameters:
        -
          name: paymentPrepayId
          in: path
          description: 'Payment prepay id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Details of the payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Secupaysofort:
    post:
      tags:
        - paymentSecupaySofort
      summary: 'POST Payment/Secupaysofort'
      description: 'Start a prepay payment transaction'
      operationId: Payment/Secupaysofort/paymentSecupaysofortPost
      requestBody:
        description: 'Prepay payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionProductDTO'
      responses:
        '200':
          description: 'Started prepay payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  /Payment/Transactions:
    get:
      tags:
        - paymentTransactions
      summary: 'GET Payment/Transactions'
      description: 'Get a list of payment transactions'
      operationId: Payment/Transactions/getAll
      parameters:
        -
          $ref: '#/components/parameters/count'
        -
          $ref: '#/components/parameters/offset'
        -
          $ref: '#/components/parameters/fields'
        -
          $ref: '#/components/parameters/query'
        -
          $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: 'Returns a list of payment transactions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTransactionsList'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
    post:
      tags:
        - paymentTransactions
      summary: 'POST Payment/Transactions'
      description: 'Create payment transaction'
      operationId: Payment/Transaction
      requestBody:
        description: 'Create payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecupayTransactionProductDTO'
      responses:
        '200':
          description: 'Returns a payment transaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecupayTransactionProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Transactions/{paymentTransactionId}':
    get:
      tags:
        - paymentTransactions
      summary: 'GET Payment/Transactions/{paymentTransactionId}'
      description: 'Get all payment transactions'
      operationId: Payment/Transactions/getOne
      parameters:
        -
          name: paymentTransactionId
          in: path
          description: 'Payment transaction id'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns list with all payment transactions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTransactionsProductModel'
        default:
          description: 'Response related to the error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExceptionPayload'
  '/Payment/Transactions/{paymentTransactionId}/cancel':
    post:
      tags:
        - paymentTransactions
      summary: 'POST Payment/Transactions/{paymentTransactionId}/cancel'
      description: 'Cancel a payment transaction'
      operationId: Payment/Transactions/cancel
      parameters:
        -
          name: paymentTransactionId
          in: path
          description: 'Payment transaction id'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Cancel payment transaction input properties'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTransactionCancelDTO'
      responses:
        '200':
[...]
