{
    "swagger": "2.0",
    "info": {
        "title": "Secuconnect API",
        "version": "2.0.0"
    },
    "host": "connect.secucard.com",
    "basePath": "/api/v2",
    "schemes": [
        "https"
    ],
    "paths": {
        "/Document/Uploads": {
            "post": {
                "tags": [
                    "documentUploads"
                ],
                "summary": "POST Document/Uploads",
                "description": "Store uploaded file",
                "parameters": [
                    {
                        "name": "content",
                        "in": "body",
                        "description": "Content",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DocumentUploadsDTOContent"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document uploaded",
                        "schema": {
                            "$ref": "#/definitions/DocumentUploadsBaseProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Document/Uploads?multipart": {
            "post": {
                "tags": [
                    "documentUploads"
                ],
                "summary": "POST Document/Uploads",
                "description": "Store uploaded file",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "fileToUpload",
                        "in": "formData",
                        "description": "File to upload",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document uploaded",
                        "schema": {
                            "$ref": "#/definitions/DocumentUploadsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/General/Merchants": {
            "get": {
                "tags": [
                    "generalMerchants"
                ],
                "summary": "GET General/Merchants",
                "description": "Get a list of general merchants",
                "operationId": "getAll",
                "parameters": [
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of general merchants",
                        "schema": {
                            "title": "GeneralMerchantsList",
                            "properties": {
                                "count": {
                                    "description": "Number of existing general merchants",
                                    "type": "integer"
                                },
                                "data": {
                                    "description": "GET General/Merchants",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/GeneralMerchantsProductModel"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/General/Merchants/{generalMerchantId}": {
            "get": {
                "tags": [
                    "generalMerchants"
                ],
                "summary": "GET General/Merchants/{generalMerchantId}",
                "description": "Get one general merchant for a specific id",
                "operationId": "getOne",
                "parameters": [
                    {
                        "name": "generalMerchantId",
                        "in": "path",
                        "description": "General merchant id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns general merchant for a specific id",
                        "schema": {
                            "$ref": "#/definitions/GeneralMerchantsProductModel"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "generalMerchants"
                ],
                "summary": "PUT General/Merchants/{generalMerchantId}",
                "description": "Update general merchant",
                "operationId": "updateMerchant",
                "parameters": [
                    {
                        "name": "generalMerchantId",
                        "in": "path",
                        "description": "General merchant id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "General merchant properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GeneralMerchantsDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated general merchant",
                        "schema": {
                            "$ref": "#/definitions/GeneralMerchantsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/General/Stores": {
            "get": {
                "tags": [
                    "generalStores"
                ],
                "summary": "GET General/Stores",
                "description": "Get a list of general stores",
                "operationId": "getAll",
                "parameters": [
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of general stores",
                        "schema": {
                            "title": "GeneralStoresList",
                            "properties": {
                                "count": {
                                    "description": "Number of existing general stores",
                                    "type": "integer"
                                },
                                "data": {
                                    "description": "GET General/Stores",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/GeneralStoresProductModel"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "generalStores"
                ],
                "summary": "POST General/Stores",
                "description": "Create general store",
                "operationId": "addStore",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "General store properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GeneralStoresDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "General store",
                        "schema": {
                            "$ref": "#/definitions/GeneralStoresProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/General/Stores/{generalStoreId}": {
            "get": {
                "tags": [
                    "generalStores"
                ],
                "summary": "GET General/Stores/{generalStoreId}",
                "description": "Get one general store for a specific id",
                "operationId": "getOne",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns general store for a specific id",
                        "schema": {
                            "$ref": "#/definitions/GeneralStoresProductModel"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "generalStores"
                ],
                "summary": "PUT General/Stores/{generalStoreId}",
                "description": "Update general store",
                "operationId": "updateStore",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "General store properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GeneralStoresDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated general store",
                        "schema": {
                            "$ref": "#/definitions/GeneralStoresProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/General/Stores/{generalStoreId}/checkin": {
            "post": {
                "tags": [
                    "generalStores"
                ],
                "summary": "POST General/Stores/{generalStoreId}/checkin",
                "description": "Check in",
                "operationId": "checkIn",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Type",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GeneralStoresDTOType"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned value is true or false",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/General/Stores/{generalStoreId}/assign/{googleKey}": {
            "post": {
                "tags": [
                    "generalStores"
                ],
                "summary": "POST General/Stores/{generalStoreId}/assign/{googleKey}",
                "description": "Assign some object to general store",
                "operationId": "assignGoogleKey",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "googleKey",
                        "in": "path",
                        "description": "Google key",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If a general store hasn't assigned earlier, the returned value is true",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/General/Stores/{generalStoreId}/setDefault": {
            "post": {
                "tags": [
                    "generalStores"
                ],
                "summary": "POST General/Stores/{generalStoreId}/setDefault",
                "description": "Set default flag on general store",
                "operationId": "setDefault",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Reason",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/GeneralStoresDTOReason"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "In the most cases returned value is true",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Cardgroups": {
            "get": {
                "tags": [
                    "loyaltyCardgroups"
                ],
                "summary": "GET Loyalty/Cardgroups",
                "description": "Get a list of loyalty card groups",
                "operationId": "getAll",
                "parameters": [
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of loyalty card groups",
                        "schema": {
                            "title": "LoyaltyCardgroupsList",
                            "properties": {
                                "count": {
                                    "description": "Number of existing loyalty card groups",
                                    "type": "integer"
                                },
                                "data": {
                                    "description": "GET Loyalty/Cardgroups",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/LoyaltyCardgroupsProductModel"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "loyaltyCardgroups"
                ],
                "summary": "POST Loyalty/Cardgroups",
                "description": "Add loyalty card group",
                "operationId": "addCardGroup",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Loyalty card group properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCardgroupsDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Added loyalty card group",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCardgroupsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Cardgroups/{loyaltyCardGroupId}": {
            "get": {
                "tags": [
                    "loyaltyCardgroups"
                ],
                "summary": "GET Loyalty/Cardgroups/{loyaltyCardGroupId}",
                "description": "Get loyalty card group for a specific id",
                "operationId": "getOne",
                "parameters": [
                    {
                        "name": "loyaltyCardGroupId",
                        "in": "path",
                        "description": "Search one by provided id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns loyalty card group for a specific id",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCardgroupsProductModel"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "loyaltyCardgroups"
                ],
                "summary": "PUT Loyalty/Cardgroups/{loyaltyCardGroupId}",
                "description": "Update loyalty card group",
                "operationId": "updateCardGroup",
                "parameters": [
                    {
                        "name": "loyaltyCardGroupId",
                        "in": "path",
                        "description": "Loyalty card group id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Loyalty card group properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCardgroupsDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated loyalty card group",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCardgroupsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Cardgroups/{loyaltyCardGroupId}/checkPasscodeEnabled": {
            "post": {
                "tags": [
                    "loyaltyCardgroups"
                ],
                "summary": "POST Loyalty/Cardgroups/{loyaltyCardGroupId}/checkPasscodeEnabled",
                "description": "Check whether passcode check is enabled",
                "operationId": "checkPassCodeEnabled",
                "parameters": [
                    {
                        "name": "loyaltyCardGroupId",
                        "in": "path",
                        "description": "Loyalty card group id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Check passcode details",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCardgroupsDTOCheckPasscodeEnabled"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checked successfully",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Cards": {
            "get": {
                "tags": [
                    "loyaltyCards"
                ],
                "summary": "GET Loyalty/Cards",
                "description": "Get a list of loyalty cards",
                "operationId": "getAll",
                "parameters": [
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of loyalty cards",
                        "schema": {
                            "title": "LoyaltyCardsList",
                            "properties": {
                                "count": {
                                    "description": "Number of existing loyalty cards",
                                    "type": "integer"
                                },
                                "data": {
                                    "description": "GET Loyalty/Cards",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/LoyaltyCardsProductModel"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/Loyalty/Cards/{loyaltyCardId}": {
            "get": {
                "tags": [
                    "loyaltyCards"
                ],
                "summary": "GET Loyalty/Cards/{loyaltyCardId}",
                "description": "Get loyalty card for a specific id",
                "operationId": "getOne",
                "parameters": [
                    {
                        "name": "loyaltyCardId",
                        "in": "path",
                        "description": "Search one loyalty card by provided id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns loyalty card for a specific id",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCardsProductModel"
                        }
                    }
                }
            }
        },
        "/Loyalty/Cards/{loyaltyCardId}/assignUser/{generalAccountId}": {
            "post": {
                "tags": [
                    "loyaltyCards"
                ],
                "summary": "POST Loyalty/Cards/{loyaltyCardId}/assignUser/{generalAccountId}",
                "description": "Assign loyalty card to specific user account",
                "operationId": "assignUser",
                "parameters": [
                    {
                        "name": "loyaltyCardId",
                        "in": "path",
                        "description": "Loyalty card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "generalAccountId",
                        "in": "path",
                        "description": "General account id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Loyalty card pin",
                        "in": "body",
                        "description": "Loyalty card pin for the specific card",
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns true if loyalty card was assigned to user successful, false in other case",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "loyaltyCards"
                ],
                "summary": "DELETE Loyalty/Cards/{loyaltyCardId}/assignUser/{generalAccountId}",
                "description": "Remove assigned loyalty card from specific user account",
                "operationId": "removeAssignedUser",
                "parameters": [
                    {
                        "name": "loyaltyCardId",
                        "in": "path",
                        "description": "Loyalty card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "generalAccountId",
                        "in": "path",
                        "description": "General account id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns true if loyalty card assign was removed from user successful, false in other case",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Customers": {
            "get": {
                "tags": [
                    "loyaltyCustomers"
                ],
                "summary": "GET Loyalty/Customers",
                "description": "Get a list of loyalty customers",
                "operationId": "getAll",
                "parameters": [
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of loyalty customers",
                        "schema": {
                            "title": "LoyaltyCustomersList",
                            "properties": {
                                "count": {
                                    "description": "Number of existing loyalty customers",
                                    "type": "integer"
                                },
                                "data": {
                                    "description": "GET Loyalty/Customers",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/LoyaltyCustomersProductModel"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "loyaltyCustomers"
                ],
                "summary": "POST Loyalty/Customers",
                "description": "Add loyalty customer",
                "operationId": "addCustomer",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "loyalty Customer container properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCustomersDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newly created loyalty Customer",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCustomersProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Customers/{loyaltyCustomerId}": {
            "get": {
                "tags": [
                    "loyaltyCustomers"
                ],
                "summary": "GET Loyalty/Customers/{loyaltyCustomerId}",
                "description": "Get loyalty customer for a specific id",
                "operationId": "getOne",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Search one loyalty customer by provided id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns loyalty customer for a specific id",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCustomersProductModel"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "loyaltyCustomers"
                ],
                "summary": "PUT Loyalty/Customers/{loyaltyCustomerId}",
                "description": "Function to update customer's data",
                "operationId": "updateCustomer",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "loyalty Customer Id CUS_XXX",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "loyalty Customer container properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCustomersDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newly created loyalty Customer",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCustomersProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "loyaltyCustomers"
                ],
                "summary": "DELETE Loyalty/Customers/{loyaltyCustomerId}",
                "description": "Remove assigned loyalty customer",
                "operationId": "removeCustomer",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns true if loyalty customer was removed",
                        "schema": {
                            "title": "LoyaltyCustomersRemoved",
                            "properties": {
                                "deleted": {
                                    "description": "Result is true or false",
                                    "type": "boolean"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Customers/{loyaltyCustomerId}/assignPaymentContainer/{loyaltyPaymentContainerId}": {
            "post": {
                "tags": [
                    "loyaltyCustomers"
                ],
                "summary": "POST Loyalty/Customers/{loyaltyCustomerId}/assignPaymentContainer/{loyaltyPaymentContainerId}",
                "description": "Assigns LoyaltyPaymentContainer to customer",
                "operationId": "AssignPaymentContainer",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "loyaltyPaymentContainerId",
                        "in": "path",
                        "description": "LoyaltyPaymentContainer id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "loyalty Customers data",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCustomersProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "loyaltyCustomers"
                ],
                "summary": "DELETE Loyalty/Customers/{loyaltyCustomerId}/assignPaymentContainer/{loyaltyPaymentContainerId}",
                "description": "Removes an assigned LoyaltyPaymentContainer from customer",
                "operationId": "removeAssignedPaymentContainer",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "loyaltyPaymentContainerId",
                        "in": "path",
                        "description": "LoyaltyPaymentContainer id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "loyalty Customers data",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCustomersProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Customers/{loyaltyCustomerId}/checkDuplicated/": {
            "post": {
                "tags": [
                    "loyaltyCustomers"
                ],
                "summary": "POST Loyalty/Customers/{loyaltyCustomerId}/checkDuplicated/",
                "description": "check if there are duplicated customers for a given merchant",
                "operationId": "checkForDuplicates",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns duplicated customers and customers without merchantcard",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards": {
            "get": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "GET Loyalty/MerchantCards",
                "description": "Get a list of loyalty merchant cards",
                "operationId": "getAll",
                "parameters": [
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of loyalty merchant cards",
                        "schema": {
                            "title": "LoyaltyMerchantcardsList",
                            "properties": {
                                "count": {
                                    "description": "Number of existing loyalty merchant cards",
                                    "type": "integer"
                                },
                                "data": {
                                    "description": "GET Loyalty/MerchantCards",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards",
                "description": "Add new loyalty merchant card",
                "operationId": "addMerchantCard",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Loyalty merchant card properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newly created loyalty merchant card",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}": {
            "get": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "GET Loyalty/MerchantCards/{loyaltyMerchantCardId}",
                "description": "Get loyalty merchant card for a specific id",
                "operationId": "getOne",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Search one by provided id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns loyalty merchant card for a specific id",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "PUT Loyalty/MerchantCards/{loyaltyMerchantCardId}",
                "description": "Update loyalty merchant card",
                "operationId": "updateMerchantCard",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Loyalty merchant card properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated loyalty merchant card",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "DELETE Loyalty/MerchantCards/{loyaltyMerchantCardId}",
                "description": "Delete loyalty merchant card",
                "operationId": "removeMerchantCard",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted loyalty merchant card",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{generalMerchantId}/merchantcard/{loyaltyCardId}": {
            "get": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "GET Loyalty/MerchantCards/{generalMerchantId}/merchantcard/{loyaltyCardId}",
                "description": "Get raw merchant card id for merchant id and card id",
                "operationId": "getRawMerchantCardId",
                "parameters": [
                    {
                        "name": "generalMerchantId",
                        "in": "path",
                        "description": "Merchant id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "loyaltyCardId",
                        "in": "path",
                        "description": "Card id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns raw merchant card id for a specific merchant and card ids",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/cardgroup/{loyaltyCardGroupId}": {
            "put": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "PUT Loyalty/MerchantCards/{loyaltyMerchantCardId}/cardgroup/{loyaltyCardGroupId}",
                "description": "Update loyalty card group",
                "operationId": "updateCardGroupOfMerchantCard",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "loyaltyCardGroupId",
                        "in": "path",
                        "description": "Loyalty card group id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated loyalty merchant card",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/registerCustomer": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/registerCustomer",
                "description": "Register new customer for a card",
                "operationId": "registerCustomer",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Loyalty customer properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyCustomersDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Loyalty merchant card",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/setCustomer/{loyaltyCustomerId}": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/setCustomer/{loyaltyCustomerId}",
                "description": "Set loyalty customer for a loyalty merchant card",
                "operationId": "setCustomer",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated loyalty merchant card",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/lock": {
            "get": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "GET Loyalty/MerchantCards/{loyaltyMerchantCardId}/lock",
                "description": "Get loyalty merchant card lock information for a specific id",
                "operationId": "getLock",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns lock details for a specific merchant card id",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTOLock"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/lock",
                "description": "Lock merchant card",
                "operationId": "lock",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Information about lock",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTOLock"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Loyalty merchant card after lock",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/unlock": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/unlock",
                "description": "Unlock merchant card",
                "operationId": "unlock",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Information about unlock",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTOLock"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Loyalty merchant card after unlock",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/virtualTerminalData/{loyaltyMerchantId}": {
            "get": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "GET Loyalty/MerchantCards/{loyaltyMerchantCardId}/virtualTerminalData/{loyaltyMerchantId}",
                "description": "Get virtual terminal data for merchant",
                "operationId": "getVirtualTerminalData",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "loyaltyMerchantId",
                        "in": "path",
                        "description": "Merchant id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns virtual terminal data for merchant",
                        "schema": {
                            "$ref": "#/definitions/VirtualTerminalData"
                        }
                    },
                    "201": {
                        "description": "Returns disabled",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/transaction": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/transaction",
                "description": "Execute transaction from SDK",
                "operationId": "executeTransaction",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Transaction properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTOTransaction"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Loyalty merchant card",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsProductWithReceiptModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkCsc": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkCsc",
                "description": "Check CSC",
                "operationId": "checkCsc",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Information about card",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTOCsc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If CSC is correct returned value is true, false in other case",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/validateMerchantcard": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/validateMerchantcard",
                "description": "Function to check the merchant card",
                "operationId": "validateMerchantCard",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Information about card",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTOValidateMerchantCard"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "returns informations about Merchantcard",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsValidateMerchantCard"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/newPasscode": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/newPasscode",
                "description": "Function to save new given passcode for given merchantcard identified by cardnumber",
                "operationId": "newPassCode",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Information about card",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTONewPasscode"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If new passcode was saved",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/resetPasscode": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/resetPasscode",
                "description": "Function to reset a passcode for given merchantcard",
                "operationId": "resetPassCode",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Information about card",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTOResetPasscode"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If passcode was reseted",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkPasscode": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkPasscode",
                "description": "Function to check the Passcode card with cardnumber",
                "operationId": "checkPassCode",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Information about card",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTOCheckPasscode"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If passcode was reseted",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{generalMerchantId}/createMerchantcards/{loyaltyCardgroupId}": {
            "post": {
                "tags": [
                    "loyaltyMerchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{generalMerchantId}/createMerchantcards/{loyaltyCardgroupId}",
                "description": "Function to create multiple merchantcards for given merchant with given cardgroup",
                "operationId": "createMerchantcards",
                "parameters": [
                    {
                        "name": "generalMerchantId",
                        "in": "path",
                        "description": "General merchant id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "loyaltyCardgroupId",
                        "in": "path",
                        "description": "Loyalty card group id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Cards amount",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyMerchantcardsDTOCardsAmount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Loyalty merchant card",
                        "schema": {
                            "title": "LoyaltyMerchantcardsList",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LoyaltyMerchantcardsProductModel"
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Sales/{generalMerchantId}/CardGroupsByMerchantID": {
            "get": {
                "tags": [
                    "loyaltySales"
                ],
                "summary": "GET Loyalty/Sales/{generalMerchantId}/CardGroupsByMerchantID",
                "description": "Get cardgroups by merchant id",
                "operationId": "getCardgroupsByMerchantId",
                "parameters": [
                    {
                        "name": "generalMerchantId",
                        "in": "path",
                        "description": "Search by provided id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns an array of cardgroups for a specific id",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LoyaltyCardgroupsProductModel"
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Sales/{generalStoresId}/VirtualTerminalIdForStore": {
            "get": {
                "tags": [
                    "loyaltySales"
                ],
                "summary": "GET Loyalty/Sales/{generalStoresId}/VirtualTerminalIdForStore",
                "description": "Get DECODED virtual terminal id by DECODED store id",
                "operationId": "getVirtualTerminalIdByStoreId",
                "parameters": [
                    {
                        "name": "generalStoresId",
                        "in": "path",
                        "description": "DECODED store id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a string containing the DECODED id of a virtual terminal",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/StoreGroups": {
            "get": {
                "tags": [
                    "loyaltyStoregroups"
                ],
                "summary": "GET Loyalty/StoreGroups",
                "description": "Get a list of loyalty store groups",
                "operationId": "getAll",
                "parameters": [
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of loyalty store groups",
                        "schema": {
                            "title": "LoyaltyStoregroupsList",
                            "properties": {
                                "count": {
                                    "description": "Number of existing loyalty store groups",
                                    "type": "integer"
                                },
                                "data": {
                                    "description": "GET Loyalty/StoreGroups",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/LoyaltyStoregroupsProductModel"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/StoreGroups/{loyaltyStoreGroupId}": {
            "get": {
                "tags": [
                    "loyaltyStoregroups"
                ],
                "summary": "GET Loyalty/StoreGroups/{loyaltyStoreGroupId}",
                "description": "Get loyalty store group for a specific id",
                "operationId": "getOne",
                "parameters": [
                    {
                        "name": "loyaltyStoreGroupId",
                        "in": "path",
                        "description": "loyalty store group id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns loyalty store group for a specific id",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyStoregroupsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "loyaltyStoregroups"
                ],
                "summary": "PUT Loyalty/StoreGroups/{loyaltyStoreGroupId}",
                "description": "Update loyalty store group",
                "operationId": "updateStoreGroup",
                "parameters": [
                    {
                        "name": "loyaltyStoreGroupId",
                        "in": "path",
                        "description": "Loyalty store group id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Loyalty store group properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyStoregroupsDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated loyalty store group",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyStoregroupsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "loyaltyStoregroups"
                ],
                "summary": "DELETE Loyalty/StoreGroups/{loyaltyStoreGroupId}",
                "description": "Remove loyalty store group",
                "operationId": "removeStoreGroup",
                "parameters": [
                    {
                        "name": "loyaltyStoreGroupId",
                        "in": "path",
                        "description": "Loyalty store group id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns deleted loyalty store group for a specific id",
                        "schema": {
                            "description": "DELETE Loyalty/StoreGroups/{loyaltyStoreGroupId}",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LoyaltyStoregroupsProductModel"
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Loyalty/Storegroups": {
            "post": {
                "tags": [
                    "loyaltyStoregroups"
                ],
                "summary": "POST Loyalty/Storegroups",
                "description": "Add new loyalty store group",
                "operationId": "addStoreGroup",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Loyalty store group properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoyaltyStoregroupsDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newly created loyalty store group",
                        "schema": {
                            "$ref": "#/definitions/LoyaltyStoregroupsProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Payment/Containers": {
            "get": {
                "tags": [
                    "paymentContainers"
                ],
                "summary": "GET Payment/Containers",
                "description": "Get a list of payment containers",
                "parameters": [
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of payment containers",
                        "schema": {
                            "title": "PaymentContainersList",
                            "properties": {
                                "count": {
                                    "description": "Number of existing payment containers",
                                    "type": "integer"
                                },
                                "data": {
                                    "description": "GET Payment/Containers",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PaymentContainersProductModel"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "paymentContainers"
                ],
                "summary": "POST Payment/Containers",
                "description": "Add new containers",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Payment container properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PaymentContainersDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newly created payment container",
                        "schema": {
                            "$ref": "#/definitions/PaymentContainersProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Payment/Containers/{paymentContainerId}": {
            "get": {
                "tags": [
                    "paymentContainers"
                ],
                "summary": "GET Payment/Containers/{paymentContainerId}",
                "description": "Get all payment containers",
                "operationId": "paymentContainersGetById",
                "parameters": [
                    {
                        "name": "paymentContainerId",
                        "in": "path",
                        "description": "Search one by provided id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns payment container for a specific id",
                        "schema": {
                            "$ref": "#/definitions/PaymentContainersProductModel"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "paymentContainers"
                ],
                "summary": "PUT Payment/Containers/{paymentContainerId}",
                "description": "Update payment container",
                "operationId": "paymentContainersIdPut",
                "parameters": [
                    {
                        "name": "paymentContainerId",
                        "in": "path",
                        "description": "Payment container id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Payment container properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PaymentContainersDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated payment container",
                        "schema": {
                            "$ref": "#/definitions/PaymentContainersProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "paymentContainers"
                ],
                "summary": "DELETE Payment/Containers/{paymentContainerId}",
                "description": "Delete payment container",
                "operationId": "paymentContainersIdDelete",
                "parameters": [
                    {
                        "name": "paymentContainerId",
                        "in": "path",
                        "description": "Payment container id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted payment container",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PaymentContainersProductModel"
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Payment/Containers/{paymentContainerId}/assign/{secondaryPaymentContainerId}": {
            "post": {
                "tags": [
                    "paymentContainers"
                ],
                "summary": "POST Payment/Containers/{paymentContainerId}/assign/{secondaryPaymentContainerId}",
                "description": "Assign an existing payment container to ...",
                "operationId": "paymentContainersIdAssignSecondaryIdPost",
                "parameters": [
                    {
                        "name": "paymentContainerId",
                        "in": "path",
                        "description": "Payment container id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "secondaryPaymentContainerId",
                        "in": "path",
                        "description": "Id to which container will be assigned",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Affected container",
                        "schema": {
                            "$ref": "#/definitions/PaymentContainersProductModel"
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "paymentContainers"
                ],
                "summary": "DELETE Payment/Containers/{paymentContainerId}/assign/{secondaryPaymentContainerId}",
                "description": "Removes an existing payment container assignment",
                "operationId": "paymentContainersIdAssignSecondaryIdDelete",
                "parameters": [
                    {
                        "name": "paymentContainerId",
                        "in": "path",
                        "description": "Payment container id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "secondaryPaymentContainerId",
                        "in": "path",
                        "description": "Id for which container is currently assigned to",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Affected container",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PaymentContainersProductModel"
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "schema": {
                            "$ref": "#/definitions/ProductExceptionPayload"
                        }
                    }
                }
            }
        },
        "/Payment/Contracts": {
            "get": {
                "tags": [
                    "paymentContracts"
                ],
                "summary": "GET Payment/Contracts",
                "description": "Get a list of payment contracts",
                "operationId": "paymentContractsGet",
                "parameters": [
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of payment contracts",
                        "schema": {
                            "title": "PaymentContractsList",
                            "properties": {
                                "count": {
                                    "description": "Number of existing payment contracts",
                                    "type": "integer"
                                },
                                "data": {
                                    "description": "GET Payment/Contracts",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/PaymentContractsProductModel"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "paymentContracts"
                ],
                "summary": "POST Payment/Contracts",
                "description": "Add new contract",
                "operationId": "paymentContractsPost",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Payment contracts properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PaymentContractsDTO"
[...]
