{
    "openapi": "3.0.0",
    "info": {
        "title": "Secuconnect API",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://connect.secucard.com/api/v2"
        }
    ],
    "paths": {
        "/Document/Uploads?multipart": {
            "post": {
                "tags": [
                    "Document Uploads"
                ],
                "summary": "POST Document/Uploads",
                "description": "Store uploaded file",
                "operationId": "Document/Uploads/documentUploadsMultipartPost",
                "parameters": [
                    {
                        "name": "multipart",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input data format",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/fileToUpload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Document uploaded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentUploadsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Document/Uploads": {
            "post": {
                "tags": [
                    "Document Uploads"
                ],
                "summary": "POST Document/Uploads",
                "description": "Store uploaded file",
                "operationId": "Document/Uploads/documentUploadsPost",
                "requestBody": {
                    "description": "Content",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentUploadsDTOContent"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Document uploaded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentUploadsBaseProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Contracts": {
            "get": {
                "tags": [
                    "General Contracts"
                ],
                "summary": "GET General/Contracts",
                "description": "Get a list of general contracts",
                "operationId": "General/Contracts/getAll",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "$ref": "#/components/parameters/offset"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of general contracts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralContractsList"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Contracts/{generalContractId}": {
            "get": {
                "tags": [
                    "General Contracts"
                ],
                "summary": "GET General/Contracts/{generalContractId}",
                "description": "Get one general contract for a specific id",
                "operationId": "General/Contracts/getOne",
                "parameters": [
                    {
                        "name": "generalContractId",
                        "in": "path",
                        "description": "General contract id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns general contract for a specific id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralContractsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Contracts/{generalContractId}/getAvailablePaymentMethods": {
            "post": {
                "tags": [
                    "General Contracts"
                ],
                "summary": "POST General/Contracts/{generalContractId}/getAvailablePaymentMethods",
                "description": "Get available payment methods for given contract",
                "operationId": "General/Contracts/getAvailablePaymentMethods",
                "parameters": [
                    {
                        "name": "generalContractId",
                        "in": "path",
                        "description": "Contract identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "options",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetAvailablePaymentMethodsDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "General methods possible for given contract",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Merchants": {
            "get": {
                "tags": [
                    "General Merchants"
                ],
                "summary": "GET General/Merchants",
                "description": "Get a list of general merchants",
                "operationId": "General/Merchants/getAll",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "$ref": "#/components/parameters/offset"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of general merchants",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralMerchantsList"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Merchants/{generalMerchantId}": {
            "get": {
                "tags": [
                    "General Merchants"
                ],
                "summary": "GET General/Merchants/{generalMerchantId}",
                "description": "Get one general merchant for a specific id",
                "operationId": "General/Merchants/getOne",
                "parameters": [
                    {
                        "name": "generalMerchantId",
                        "in": "path",
                        "description": "General merchant id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns general merchant for a specific id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralMerchantsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Merchants/{generalMerchantId}/getPublicData/{generalContractId}": {
            "post": {
                "tags": [
                    "General Merchants"
                ],
                "summary": "POST General/Merchants/{generalMerchantId}/getPublicData/{generalContractId}",
                "description": "Get Public Data of a Merchant",
                "operationId": "General/Stores/getPublicData",
                "parameters": [
                    {
                        "name": "generalMerchantId",
                        "in": "path",
                        "description": "Merchant identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "generalContractId",
                        "in": "path",
                        "description": "Contract identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "General store",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralMerchantsPublicDataModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Stores": {
            "get": {
                "tags": [
                    "General Stores"
                ],
                "summary": "GET General/Stores",
                "description": "Get a list of general stores",
                "operationId": "General/Stores/getAll",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "$ref": "#/components/parameters/offset"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of general stores",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralStoresList"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "General Stores"
                ],
                "summary": "POST General/Stores",
                "description": "Create general store",
                "operationId": "General/Stores/addStore",
                "requestBody": {
                    "description": "General store properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneralStoresDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "General store",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralStoresProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Stores/{generalStoreId}": {
            "get": {
                "tags": [
                    "General Stores"
                ],
                "summary": "GET General/Stores/{generalStoreId}",
                "description": "Get one general store for a specific id",
                "operationId": "General/Stores/getOne",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns general store for a specific id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralStoresProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "General Stores"
                ],
                "summary": "PUT General/Stores/{generalStoreId}",
                "description": "Update general store",
                "operationId": "General/Stores/updateStore",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "General store properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneralStoresDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated general store",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralStoresProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Stores/{generalStoreId}/checkin": {
            "post": {
                "tags": [
                    "General Stores"
                ],
                "summary": "POST General/Stores/{generalStoreId}/checkin",
                "description": "Check in",
                "operationId": "General/Stores/checkIn",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "General store properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneralStoresDTOType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned value is true or false",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Stores/{generalStoreId}/assign/{googleKey}": {
            "post": {
                "tags": [
                    "General Stores"
                ],
                "summary": "POST General/Stores/{generalStoreId}/assign/{googleKey}",
                "description": "Assign some object to general store",
                "operationId": "General/Stores/assignGoogleKey",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "googleKey",
                        "in": "path",
                        "description": "Google key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If a general store hasn't assigned earlier, the returned value is true",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/General/Stores/{generalStoreId}/setDefault": {
            "post": {
                "tags": [
                    "General Stores"
                ],
                "summary": "POST General/Stores/{generalStoreId}/setDefault",
                "description": "Set default flag on general store",
                "operationId": "General/Stores/setDefault",
                "parameters": [
                    {
                        "name": "generalStoreId",
                        "in": "path",
                        "description": "General store id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Reason",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GeneralStoresDTOReason"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "In the most cases returned value is true",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Cardgroups": {
            "get": {
                "tags": [
                    "Loyalty Cardgroups"
                ],
                "summary": "GET Loyalty/Cardgroups",
                "description": "Get a list of loyalty card groups",
                "operationId": "Loyalty/Cardgroups/getAll",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "$ref": "#/components/parameters/offset"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of loyalty card groups",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCardgroupsList"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Loyalty Cardgroups"
                ],
                "summary": "POST Loyalty/Cardgroups",
                "description": "Add loyalty card group",
                "operationId": "Loyalty/Cardgroups/addCardGroup",
                "requestBody": {
                    "description": "Loyalty card group properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyCardgroupsDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Added loyalty card group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCardgroupsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Cardgroups/{loyaltyCardGroupId}": {
            "get": {
                "tags": [
                    "Loyalty Cardgroups"
                ],
                "summary": "GET Loyalty/Cardgroups/{loyaltyCardGroupId}",
                "description": "Get loyalty card group for a specific id",
                "operationId": "Loyalty/Cardgroups/getOne",
                "parameters": [
                    {
                        "name": "loyaltyCardGroupId",
                        "in": "path",
                        "description": "Search one by provided id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns loyalty card group for a specific id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCardgroupsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Loyalty Cardgroups"
                ],
                "summary": "PUT Loyalty/Cardgroups/{loyaltyCardGroupId}",
                "description": "Update loyalty card group",
                "operationId": "Loyalty/Cardgroups/updateCardGroup",
                "parameters": [
                    {
                        "name": "loyaltyCardGroupId",
                        "in": "path",
                        "description": "Loyalty card group id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Loyalty card group properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyCardgroupsDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated loyalty card group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCardgroupsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Cardgroups/{loyaltyCardGroupId}/checkPasscodeEnabled": {
            "post": {
                "tags": [
                    "Loyalty Cardgroups"
                ],
                "summary": "POST Loyalty/Cardgroups/{loyaltyCardGroupId}/checkPasscodeEnabled",
                "description": "Check whether passcode check is enabled",
                "operationId": "Loyalty/Cardgroups/checkPassCodeEnabled",
                "parameters": [
                    {
                        "name": "loyaltyCardGroupId",
                        "in": "path",
                        "description": "Loyalty card group id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Check passcode details",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyCardgroupsDTOCheckPasscodeEnabled"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Checked successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Cards": {
            "get": {
                "tags": [
                    "Loyalty Cards"
                ],
                "summary": "GET Loyalty/Cards",
                "description": "Get a list of loyalty cards",
                "operationId": "Loyalty/Cards/getAll",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "$ref": "#/components/parameters/offset"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of loyalty cards",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCardsList"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Cards/{loyaltyCardId}": {
            "get": {
                "tags": [
                    "Loyalty Cards"
                ],
                "summary": "GET Loyalty/Cards/{loyaltyCardId}",
                "description": "Get loyalty card for a specific id",
                "operationId": "Loyalty/Cards/getOne",
                "parameters": [
                    {
                        "name": "loyaltyCardId",
                        "in": "path",
                        "description": "Search one loyalty card by provided id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns loyalty card for a specific id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Cards/{loyaltyCardId}/assignUser/{generalAccountId}": {
            "post": {
                "tags": [
                    "Loyalty Cards"
                ],
                "summary": "POST Loyalty/Cards/{loyaltyCardId}/assignUser/{generalAccountId}",
                "description": "Assign loyalty card to specific user account",
                "operationId": "Loyalty/Cards/assignUser",
                "parameters": [
                    {
                        "name": "loyaltyCardId",
                        "in": "path",
                        "description": "Loyalty card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "generalAccountId",
                        "in": "path",
                        "description": "General account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Loyalty card pin for the specific card",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CardPin"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns true if loyalty card was assigned to user successful, false in other case",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Loyalty Cards"
                ],
                "summary": "DELETE Loyalty/Cards/{loyaltyCardId}/assignUser/{generalAccountId}",
                "description": "Remove assigned loyalty card from specific user account",
                "operationId": "Loyalty/Cards/removeAssignedUser",
                "parameters": [
                    {
                        "name": "loyaltyCardId",
                        "in": "path",
                        "description": "Loyalty card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "generalAccountId",
                        "in": "path",
                        "description": "General account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns true if loyalty card assign was removed from user successful, false in other case",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Customers": {
            "get": {
                "tags": [
                    "Loyalty Customers"
                ],
                "summary": "GET Loyalty/Customers",
                "description": "Get a list of loyalty customers",
                "operationId": "Loyalty/Customers/getAll",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "$ref": "#/components/parameters/offset"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of loyalty customers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCustomersList"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Loyalty Customers"
                ],
                "summary": "POST Loyalty/Customers",
                "description": "Add loyalty customer",
                "operationId": "Loyalty/Customers/addCustomer",
                "requestBody": {
                    "description": "loyalty Customer container properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyCustomersDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Newly created loyalty Customer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCustomersProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Customers/{loyaltyCustomerId}": {
            "get": {
                "tags": [
                    "Loyalty Customers"
                ],
                "summary": "GET Loyalty/Customers/{loyaltyCustomerId}",
                "description": "Get loyalty customer for a specific id",
                "operationId": "Loyalty/Customers/getOne",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Search one loyalty customer by provided id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns loyalty customer for a specific id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCustomersProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Loyalty Customers"
                ],
                "summary": "PUT Loyalty/Customers/{loyaltyCustomerId}",
                "description": "Function to update customer's data",
                "operationId": "Loyalty/Customers/updateCustomer",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "loyalty Customer Id CUS_XXX",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "loyalty Customer container properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyCustomersDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Newly created loyalty Customer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCustomersProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Loyalty Customers"
                ],
                "summary": "DELETE Loyalty/Customers/{loyaltyCustomerId}",
                "description": "Remove assigned loyalty customer",
                "operationId": "Loyalty/Customers/removeCustomer",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns true if loyalty customer was removed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCustomersRemoved"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Customers/{loyaltyCustomerId}/assignPaymentContainer/{loyaltyPaymentContainerId}": {
            "post": {
                "tags": [
                    "Loyalty Customers"
                ],
                "summary": "POST Loyalty/Customers/{loyaltyCustomerId}/assignPaymentContainer/{loyaltyPaymentContainerId}",
                "description": "Assigns LoyaltyPaymentContainer to customer",
                "operationId": "Loyalty/Customers/assignPaymentContainer",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "loyaltyPaymentContainerId",
                        "in": "path",
                        "description": "LoyaltyPaymentContainer id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "loyalty Customers data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCustomersProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Loyalty Customers"
                ],
                "summary": "DELETE Loyalty/Customers/{loyaltyCustomerId}/assignPaymentContainer/{loyaltyPaymentContainerId}",
                "description": "Removes an assigned LoyaltyPaymentContainer from customer",
                "operationId": "Loyalty/Customers/removeAssignedPaymentContainer",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "loyaltyPaymentContainerId",
                        "in": "path",
                        "description": "LoyaltyPaymentContainer id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "loyalty Customers data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyCustomersProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/Customers/{loyaltyCustomerId}/checkDuplicated/": {
            "post": {
                "tags": [
                    "Loyalty Customers"
                ],
                "summary": "POST Loyalty/Customers/{loyaltyCustomerId}/checkDuplicated/",
                "description": "check if there are duplicated customers for a given merchant",
                "operationId": "Loyalty/Customers/checkForDuplicates",
                "parameters": [
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns duplicated customers and customers without merchantcard",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/customers_without_merchantcard_and_duplicated_customers"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards": {
            "get": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "GET Loyalty/MerchantCards",
                "description": "Get a list of loyalty merchant cards",
                "operationId": "Loyalty/MerchantCards/getAll",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "$ref": "#/components/parameters/offset"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of loyalty merchant cards",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsList"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards",
                "description": "Add new loyalty merchant card",
                "operationId": "Loyalty/MerchantCards/addMerchantCard",
                "requestBody": {
                    "description": "Loyalty merchant card properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Newly created loyalty merchant card",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}": {
            "get": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "GET Loyalty/MerchantCards/{loyaltyMerchantCardId}",
                "description": "Get loyalty merchant card for a specific id",
                "operationId": "Loyalty/MerchantCards/getOne",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Search one by provided id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns loyalty merchant card for a specific id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "PUT Loyalty/MerchantCards/{loyaltyMerchantCardId}",
                "description": "Update loyalty merchant card",
                "operationId": "Loyalty/MerchantCards/updateMerchantCard",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Loyalty merchant card properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated loyalty merchant card",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "DELETE Loyalty/MerchantCards/{loyaltyMerchantCardId}",
                "description": "Delete loyalty merchant card",
                "operationId": "Loyalty/MerchantCards/removeMerchantCard",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted loyalty merchant card",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/cardgroup/{loyaltyCardGroupId}": {
            "put": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "PUT Loyalty/MerchantCards/{loyaltyMerchantCardId}/cardgroup/{loyaltyCardGroupId}",
                "description": "Update loyalty card group",
                "operationId": "Loyalty/MerchantCards/updateCardGroupOfMerchantCard",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "loyaltyCardGroupId",
                        "in": "path",
                        "description": "Loyalty card group id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated loyalty merchant card",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/registerCustomer": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/registerCustomer",
                "description": "Register new customer for a card",
                "operationId": "Loyalty/MerchantCards/registerCustomer",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Loyalty customer properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyCustomersDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Loyalty merchant card",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/setCustomer/{loyaltyCustomerId}": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/setCustomer/{loyaltyCustomerId}",
                "description": "Set loyalty customer for a loyalty merchant card",
                "operationId": "Loyalty/MerchantCards/setCustomer",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "loyaltyCustomerId",
                        "in": "path",
                        "description": "Loyalty customer id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated loyalty merchant card",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/lock": {
            "get": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "GET Loyalty/MerchantCards/{loyaltyMerchantCardId}/lock",
                "description": "Get loyalty merchant card lock information for a specific id",
                "operationId": "Loyalty/MerchantCards/getLock",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns lock details for a specific merchant card id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsDTOLock"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/lock",
                "description": "Lock merchant card",
                "operationId": "Loyalty/MerchantCards/lock",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Information about lock",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTOLock"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Loyalty merchant card after lock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/unlock": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/unlock",
                "description": "Unlock merchant card",
                "operationId": "Loyalty/MerchantCards/unlock",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Information about unlock",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTOLock"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Loyalty merchant card after unlock",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/virtualTerminalData/{loyaltyMerchantId}": {
            "get": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "GET Loyalty/MerchantCards/{loyaltyMerchantCardId}/virtualTerminalData/{loyaltyMerchantId}",
                "description": "Get virtual terminal data for merchant",
                "operationId": "Loyalty/MerchantCards/getVirtualTerminalData",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "loyaltyMerchantId",
                        "in": "path",
                        "description": "Merchant id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns virtual terminal data for merchant",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VirtualTerminalDataModel"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Returns disabled",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/transaction": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/transaction",
                "description": "Execute transaction from SDK",
                "operationId": "Loyalty/MerchantCards/executeTransaction",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Transaction properties",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTOTransaction"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Loyalty merchant card",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsProductWithReceiptModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkCsc": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkCsc",
                "description": "Check CSC",
                "operationId": "Loyalty/MerchantCards/checkCsc",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Information about card",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTOCsc"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "If CSC is correct returned value is true, false in other case",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/validateMerchantcard": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/validateMerchantcard",
                "description": "Function to check the merchant card",
                "operationId": "Loyalty/MerchantCards/validateMerchantCard",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Information about card",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTOValidateMerchantCard"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "returns informations about Merchantcard",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoyaltyMerchantcardsValidateMerchantCard"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/newPasscode": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/newPasscode",
                "description": "Function to save new given passcode for given merchantcard identified by cardnumber",
                "operationId": "Loyalty/MerchantCards/newPassCode",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Information about card",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTONewPasscode"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "If new passcode was saved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/resetPasscode": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/resetPasscode",
                "description": "Function to reset a passcode for given merchantcard",
                "operationId": "Loyalty/MerchantCards/resetPassCode",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Information about card",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTOResetPasscode"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "If passcode was reseted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkPasscode": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{loyaltyMerchantCardId}/checkPasscode",
                "description": "Function to check the Passcode card with cardnumber",
                "operationId": "Loyalty/MerchantCards/checkPassCode",
                "parameters": [
                    {
                        "name": "loyaltyMerchantCardId",
                        "in": "path",
                        "description": "Loyalty merchant card id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Information about card",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoyaltyMerchantcardsDTOCheckPasscode"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "If passcode was reseted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resultBoolean"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Response related to the error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductExceptionPayload"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Loyalty/MerchantCards/{generalMerchantId}/createMerchantcards/{loyaltyCardgroupId}": {
            "post": {
                "tags": [
                    "Loyalty Merchantcards"
                ],
                "summary": "POST Loyalty/MerchantCards/{generalMerchantId}/createMerchantcards/{loyaltyCardgroupId}",
                "description": "Function to create multiple merchantcards for given merchant with given cardgroup",
                "operationId": "Loyalty/MerchantCards/createMerchantcards",
                "parameters": [
                    {
                        "name": "generalMerchantId",
                        "in": "path",
                        "description": "General merchant id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "loyaltyCardgroupId",
                        "in": "path",
[...]
